@tailwind base;
@tailwind components;
@tailwind utilities;


$color-liberty : #5A5CAF;
$color-dandelion: #FFD911;
$color-turquoise: #33E6BF;
$color-persian-blue: #0439C7;

html {
    scroll-behavior: smooth;
}

body {
    color: #FFF;
    overflow-x: hidden;
    background: url(../public/img/bg-pattern.png) #000 center top repeat-y !important;
}

.color-turquoise {
    color: $color-turquoise;
}

.bg-turquoise {
    background: $color-turquoise;
}

.color-dandelion {
    color: $color-dandelion;
}

.border-liberty {
    border-color: $color-liberty;
}

.border-persian-blue {
    border-color: $color-persian-blue;
}


.bg-black{
    background-color: #000;
}
.bg-gray{
    background-color: rgb(17 24 39);
}
@media (max-width: 768px) {
    .scrollToTopButton {
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .scrollToTopButton.visible {
        opacity: 1;
    }
}