@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url('/fonts/VCR_OSD_MONO_1.001-1.ttf') format('ttf'),
  url('/fonts/VCR_OSD_MONO_1.001 2.woff') format('woff'),
  url('/fonts/VCR_OSD_MONO_1.001 2.woff2') format('woff2');
}
@font-face {
  font-family: 'Verdana';
  src: url('/fonts/Verdana.ttf') format('ttf'),
  url('/fonts/verdanab.eot') format('eot'),
  url('/fonts/Verdana.woff') format('woff');
}
body {
  color:#FFF;
  overflow-x: hidden;
  background: url(../public/img/bg-sec.jpg) center top no-repeat ;
   background-size: cover;
   font-family: 'VCR_OSD_MONO' !important;
}
p{
  line-height: 20px;
  font-family: 'Verdana' !important;
}
ul li{
font-family: 'Verdana' !important;
}
#right-bg{
  background: url(../public/img/elements-all.svg) center top no-repeat ;
  background-size: cover;
}
.line-left{
  background: url(../public/img/line-dots.png) top repeat-y ;
  position: absolute;
  left: -30px;
  width: 15px;
  height: 6200px;
}
